body{

margin:0;

font-family:Poppins;

background:
linear-gradient(
to right,
#fff1b6,
#ffd6e0,
#ffe6a7
);

}


.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}


.hero h1{

font-size:80px;

color: #ff4d71;

}


.hero h2{

color:#cc7a00;

}


input,
select{

width:320px;

padding:18px;

margin:10px;

border:none;

border-radius:40px;

}


button{

padding:18px;

width:250px;

border:none;

background:#ff4d88;

color:white;

border-radius:50px;

font-size:18px;

cursor:pointer;

}


.grid{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:30px;

padding:40px;

}


.card{

background:white;

padding:20px;

border-radius:30px;

box-shadow:
0 10px 40px
rgba(0,0,0,.15);

}


.card img{

width:100%;

height:250px;

border-radius:25px;

object-fit:cover;

}


.checkout,
.success{

margin-top:120px;

text-align:center;

}
.card img{

width:100%;

height:250px;

object-fit:cover;

border-radius:20px;

margin-bottom:10px;

}


.card{

background:white;

padding:20px;

border-radius:25px;

box-shadow:
0 10px 30px
rgba(255,105,180,.3);

transition:.3s;

}


.card:hover{

transform:
translateY(-8px);

}


.grid{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:30px;

padding:40px;

}


h1{

color:#ff4d88;

}


button{

padding:15px;

width:250px;

background:#ff4d88;

color:white;

border:none;

border-radius:30px;

cursor:pointer;

}
.buy{

text-align:center;

margin-top:50px;

margin-bottom:80px;

}


.buy button{

width:320px;

padding:20px;

font-size:22px;

background:

linear-gradient(
45deg,
#ff4d88,
#ff8fab
);

color:white;

border:none;

border-radius:50px;

cursor:pointer;

}


.buy button:hover{

transform:scale(1.05);

}