<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet"
href="{{url_for('static',filename='style.css')}}">

</head>

<body>

<div class="hero">

<h1>🐝 HONEY BEE</h1>

<h2>Summer Makeup Essentials</h2>

<form method="POST">

<input
name="name"
placeholder="Enter First Name"
required>

<select name="category">

<option>lip balm</option>

<option>skin tint</option>

<option>lip gloss</option>

<option>foundation</option>

<option>powder</option>

<option>perfume</option>

<option>lipstick</option>

<option>eye shade</option>

</select>

<button>

Explore Collection

</button>

</form>

</div>

</body>

</html>